$input-text-color: #151515;
$input-placeholder-color: #151515;
$input-border-color: #fff;
$input-background-color: rgba(255, 255, 255, 0.1);

$button-background-color: red;
$button-text-color: #FFF;

$wrapper-background-color-1: #d400d4;
$wrapper-background-color-2: #45f3ff;

$breakpoint: 768px;

$curvature-angle: 50deg;
